@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
    article img { width: 29.333%; }
    
    header h1 {
        font-size: 5.5em;
    }
    
    header .subheading {
        font-size: 2em;
    }
    
    main h2 {
        font-size: 4em;
    }
    
    nav ul li a {
    padding: 0.7rem 4.1rem 0.7rem 4.1rem;
    }
    
    main .clearfix figure img{
        float: left;
    }

    main h2 {
        margin: 0.5em 1.72em 0 1.72em;
        padding: 0.3em 0 0 0;
    }
    
    main .clearfix {
        overflow: auto;
        margin: 0 7em 0 7em;
    }
    main article .town-article {
        word-spacing: 1rem;
        padding: 1em 1em 1em 1em;
    }
  
}