/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
    margin: 0 auto;
    width: 98%;
}

header {
    padding: 0;
}
    
header h1 {
    font-family: "the Blacklist","Segoe Print", sans-serif;
    font-size: 3em;
    color: #6096f2; 
    text-align: center;
    margin-bottom: 0;
}
    
header img {
    float: left;   
    margin-left: auto;
    width: 33%;
    height: 33%;
    max-width: 160px;
}
header .subheading {
    font-family: "the Blacklist","Segoe Print", sans-serif;
    font-size: 1.8em;
    color: #000000;
    text-align: center;
    margin-bottom: 1.5em;
}

nav {}
nav button {}
nav ul {}
nav ul li {}
nav ul li a {}
nav ul li.active a {}
nav ul li a:hover {}

main h2, section, .forecast, .clearfix {
     background-color: #fddce7;
}

main h2, h3{
    text-align: center;
}
main h2 {
    font-family: "the Blacklist", "Segoe Print", sans-serif;
    font-size: 2.8em;
    color: #000000; 
    margin: auto;
}

main figure img {
    width: 100%;
    max-width: 500px;
}

main h3 {
    font-family: Britannic, sans-serif;
    font-size: 1.69em;
    color: #000000; 
}

main picture {
    width: 100%;
    min-width: 100px;
    max-width: 250px;
    
}

main p {
    font-family: Calibri, sans-serif;
    color: #000000;
    font-size: 1.56em;
    text-align: left;
}

section.forecast {
    display: none;
}

article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    width: 100%;
    max-width: 300px;
    padding-bottom: 5%;
   /* fill the page in the small/phone view */
  }

footer {
    font-family: "Arial Narrow", sans-serif;
    background-color: #6096f2;
    color: #ffffff;
    font-size: 1.3em;
    text-align: center;
    margin: 2em 1em 2em 1em;
    padding: 1em 0 1em 0;
}


/* Other Class Selectors */