@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    header.container {
        margin-top: 1.3rem;
        margin-bottom: 1.3rem;
    }
    
    header h1 {
        font-size:7rem;
    }
    
    header .subheading {
        font-size: 1.6rem;
    }
    
    nav ul {
        font-size: 1.4rem;
    }
    
    nav ul li a {
        padding: 0.8rem 2rem;
    }
    
    main h2 {
        font-size: 4.8rem;
    }
    
    main h3 {        
        font-size: 2.7rem;
    }
    
    main p, main article.info li {
        font-size:1.3rem;
    }
    
    main p.outsand {
        font-size: 1.8rem;
        line-height: 3rem;
        letter-spacing: 0.03rem;
    }
    
    main button {
        font-size: 2.2rem;
        word-spacing: 0.6rem;
    }
    
    main .sales button {
        font-size: 1.8rem;
    }
    
    footer {
        font-size: 1.3rem;
    }
    
    main > article.flexbox1 p {
        line-height: 2rem;
    }
    
    main article.info p {
        line-height: 1.7rem;
        letter-spacing: 0.03rem;
    }
    
    form legend {
        font-size: 2rem;
    }
    
    form label span {
        font-size: 1.5rem;
    }
    
    input, textarea {
        font-size: 1.2rem;
    }
    
    input.submitBt {
        font-size: 1.5rem;
        word-spacing: 1rem;
        letter-spacing: 0.1rem;
    }
    
    main p.small {
        font-size: 1rem;
    }

    main p.price {
        font-size: 2.7rem;
    }
}