@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Lato&family=Roboto&display=swap');

* { 
    box-sizing: border-box; 
}

body { 
    font-size: 16px; 
    line-height: 32px;
    /* font-family: Tahoma, Geneva, sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lato', Verdana, sans-serif;
    color: darkblue;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

.style1 {
    margin: 0 auto;
    border: 1px solid #bbb;
    padding: 5px; 
    background-color: #eee;
    line-height: 1.5em;
}

h1 {
    font-size: 2em;
    color: whitesmoke;
    font-family: 'Asap Condensed', Verdana, sans-serif;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid #bbb;
    font-family: 'Asap Condensed', sans-serif;

}

header, main, footer {
    /* margin: 1.25rem auto; */
    padding: .5rem;
}

header, footer, footer a {
    text-align: center;
    background-color: rebeccapurple;
    color: whitesmoke;
}

header img {
    width: 30%;
    float: right;
    border-radius: 5px;
    margin-right: 1%;
}

footer {
    font-size: 1rem;
}

@media only screen and (min-width: 37.5em) {
    header img {
        width: 20%;
    }
}

@media only screen and (min-width: 64em) {
    
}
